extends ../layout

block content
  .container
    h1.page-header= host.title
    p
      b 도시 #{host.country}
      | 
      span at #{moment(host.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
      | (글쓴이 #{host.id} ,
      | (조회수 #{host.read}))
    p.well(style='white-space:pre;')= host.address
    p.well(style='white-space:pre;')= host.price
    p.well(style='white-space:pre;')= host.service
    p.well(style='white-space:pre;')= host.rule
    p.well(style='white-space:pre;')= host.content
    
    a.btn.btn-default(href='/m_host') 목록